{% from 'macros.j2' import header %}
{{header(template_filename)}}
SELECT
  {{dic.select|join(', \n')|indent(2)}}
FROM
  {{dic.table}}
{% if dic.where is defined %}
WHERE
  {{dic.where|indent(2)}}
{% endif %}
